@font-face { src: url(DINNextLTArabic-Regular-3.ttf);
    font-family: DIN;
}
@font-face { src: url(DINNextLTArabic-Bold-4.ttf);
   font-family: DINB;
}
@font-face { src: url(DINNextLTArabic-Medium-4.ttf);
   font-family: DINM;
}
* {
    margin: 0;
    padding: 0;
}
.navbar{
    position: relative;
    background-color: rgb(231, 231, 231);
}

video {
    position: relative;
    width: 100%;
    height: 20%;
}
.logo {
    width: 23vw;
    height: 15vh;
    position: absolute;
    z-index: 1;
    top: 3%;
    right: 7%;
}
.img1 {
    width: 70%;
}
.items {
    height: 15vh;
    width: 50vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    text-decoration:none;

    z-index: 1;
    top: 0%;
    right: 23%;
}
.item1 ,.item2 , .item3 , .item4 , .item5 {
    color: white;
    text-decoration: none;
    font-family: DIN ;
    font-size: 18px;
}
.items a{
    color: #ffffff;
    text-decoration: none;
}
.login {
    height: 10vh;
    width: 10vw;
    color: white;
    font-family: DIN ;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    z-index: 1;
    top: 4%;
    right: 80%;
}
.lang {
    width: 5vw;
    height: 5vh;
    color: white;
    font-family: DIN;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    z-index: 1;
    top: 4%;
    right: 90%;
}
.para {
    height: 30vh;
    width: 40vw;
    position: absolute;
    z-index: 1;
    top: 19%;
    right: 30%;
    color: white;
    font-family: DINB;
    font-size: 6rem;
    text-align: center;
    line-height: 1.2;
}
.botton {
    border: 3px solid #5bbec2;
    background-color: #5bbec2 ;
    border-radius: 50px;
    position: absolute;
    height: 12vh;
    width: 37vw;
    z-index: 1;
    top: 55%;
    right: 30%;
    color: white;
    font-family: DINB;
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
}
.section1 {
    background-color: rgb(231, 231, 231);
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.para1 {
    color: #4e3797;
    width: 50vw;
    height: 15vh;
    font-family: DINB;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bootcamps {
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
    justify-content: space-evenly;
}
.camp1 {
    background-color: white;
    border-radius: 30px;
    border-right: 15px solid #8d7bca;
    width: 28vw;
    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
}
.text1 {
    color: #8d7bca;
    width: 5vw;
    height: 10vh ;
    font-family: DIN;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: end;
}
.titl {
    color: #3d3d3d;
    width: 21vw;
    font-family: DINM;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: end;
}
.titl1 {
    color: #3d3d3d;
    width: 16vw;
    font-family: DINM;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: end;
}
.text2 {
    color: #5bbec2;
    width: 5vw;
    height: 10vh ;
    font-family: DIN;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: end;
}
.camp {
    background-color: white;
    border-radius: 30px;
    border-right: 15px solid rgb(152, 236, 236);
    width: 28vw;
    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
}
.more {
    height: 20vh;
    width: 25vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.bordermore{
    border: 1px solid #4e3797;
    border-radius: 25px;
    color: #4e3797;
    height: 7vh;
    width: 20vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: DIN ;
}
.section2 {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}
.cardsbox {
    height: 45vh;
    width: 95vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
    justify-content: space-evenly;
}
.card1, .card2, .card3, .card4 {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-shadow:  0 2px 5px 0 #00000033;
    width: 16vw;
    height: 45vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #5bbec2;
    font-family: DINM;
    font-size: 25px;
    text-align: center;
}
.icon1 {
    position: absolute;
    z-index: 1;
    bottom: -50rem;
    left: 68rem;
}
.icon2 {
    position: absolute;
    z-index: 1;
    bottom: -50rem;
    left: 48.9rem;
}
.icon3 {
    position: absolute;
    z-index: 1;
    bottom: -50rem;
    left: 30rem;
}
.icon4 {
    position: absolute;
    z-index: 1;
    bottom: -50rem;
    left: 11rem;
}
.numbers {
    height: 10vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    color: #4e3797;
    font-family: DINB;
    font-size: 25px;
}
.numbers1 {
    height: 16vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
    color: #4e3797;
    font-family: DINB;
    font-size: 25px;
}
.p2 {
    height: 5vh;
    color: #272727;
    font-family: DIN;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
}
.info {
    height: 20vh;
    width: 14vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: center;
}
.line {
    height: 6vh;
    width: 22vw;
    display: flex;
    flex-flow: row wrap;
    align-content: start;
    gap: 8px;
}
.line2 {
    display: flex;
    flex-flow: row wrap;
    align-content: end;
    gap: 8px;
}
.p3 {
    color: #272727;
    font-family: DIN;
    font-size: 12px;
}
.details {
    height: 35vh;
    width: 8vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    align-items: start;
}
.boxdetals{
    border: 1px solid #8d7bca;
    width: 6vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    color: #8d7bca;
    font-family: DIN;
    font-size: 15px;
}
.boxdetals2 {
    border: 1px solid #5bbec2;
    width: 6vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    color: #5bbec2;
    font-family: DIN;
    font-size: 15px;
}
.mysec{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: space-around;
    align-items:center;
    /* justify-content: space-around; */
    /* border: solid 12px; */
    background-color: rgb(78 55 151);
    ;
}


/* .mysec h1{
    text-align: center;
} */
/* .km{
    position: relative;
    bottom: 40%;
    right: 45%;
    
    
    /* border: 12px solid; */
/* } */
.km p{
    text-align: center;
    font-family: DIN;
    color: black;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;
} */
span{
    position: relative;
    top: 10%;
    font-family: DIN;
    color: rgb(90, 26, 26);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.25rem;

}
.my-card1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;

    /* border: 12px solid; */
    /* width: 190px;
    height: 254px;
    border-radius: 1rem;
    position: relative;
    background-color: #ffffff; */



}
.my-card2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 280px;
    height: 450px;
    border-radius: 1rem;
    position: relative;
    background-color: #ffffff;
    /* text-align: center; */
}
.my-btn{
    border: 1px solid #4e3797;
    border-radius: 25px;
    color: #4e3797;
    height: 7vh;
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    font-family: DIN ;
    position: relative;
    top: 35px;
    right: 50px;
}

.tuw{
    color: #ffffff;
    position: relative;
    margin: 50px;
    font-family: din;
}
.my-card2 h1{
    display: flex;
    align-items: center;
    color:rgb(91 190 194);
    /* text-align: center; */
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}
.ana{
    display: flex;
    align-items: center;
}
.my-info{


    border: 1px solid #8d7bca;
    width: 6vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    color: #8d7bca;
    font-family: DIN;
    font-size: 15px;
}
.gg{
    height: 5vh;
    color: #272727;
    font-family: DIN;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
}
.g-par{
    display: flex;
    /* border: 9px solid; */
}

.my-sec2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(231, 231, 231);
    /* border: 12px solid; */
    
}
.partners{
    /* display: flex; */
    /* width: 50VW; */
    height: 0;
    color: #272727;
    font-family: DIN;

    font-size: 30px;

}
.my-card3{
    display: flex;
    
    /* border: 12px solid; */
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(231, 231, 231); */



}
.my-card4{
    align-items: center;
    /* display: flex; */
    width: 240px;
    height: 200px;
    /* border-radius: 1rem; */
    /* position: relative; */
    background-color: #f5f5f5;
    justify-content: space-between;
    /* border: 12px solid; */


}
.apple{
    position: relative;
    top: 50px;
    right: 82px;
}
.apple1{
    position: relative;
    top: 78px;
    right: 78px;
}
.apple2{
    position: relative;
    top: 56px;
    right: 59px;
}
.apple3{
    position: relative;
    top: 67px;
    right: 94px;
}
.my-last{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 12px solid; */
    height: 20vh;
    background-color: #5bbec2;
    text-align: center;
    gap: 15px;
}
.emil{
    color: #ffffff;
    font-family: din;
}
.btnns{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid ; */
    gap: 10px;
    text-align: center;


}
.btn--{
    width:200px;
    height: 60px;
    font-family: din;
    color: #ffffff;
    font-size: medium;
    border-radius: 10px;
    background-color: #4e3797;

}
.btn-{
    display: flex;
    gap: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    width:200px;
    height: 60px;
    border-radius: 10px;
}
.footer {
    background-color: #4e3797;
    height: 55vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.logofooter {
    width: 23vw;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}
.imgf {
    width: 65%;
}
.footeritems {
    width: 35vw;
    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.line1 {
    width: 25vw;
    height: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.line2 {
    width: 25vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.f1 , .f2 , .f3 ,.f4 {
    color: white;
    font-family: DIN ;
    font-size: 16px;
}
.logofooter2 {
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}
.logofooter3 {
    width: 18vw;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}
.imgf2 {
    width: 95%;
}
.lastsec {
    background-color: #4e3797;
    height: 7vh;
    width: 100vw;
    color: white;
    font-family: DIN ;
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}




