@font-face { src: url(/fonts/DINNextLTArabic-Regular-3.ttf);
     font-family: DIN;
}
@font-face { src: url(/fonts/DINNextLTArabic-Bold-4.ttf);
    font-family: DINB;
}
@font-face { src: url(/fonts/DINNextLTArabic-Medium-4.ttf);
    font-family: DINM;
}
* {
    margin: 0;
    padding: 0;
}
.navbar{
    border: 1px solid #4e3797;
    background-color: #4e3797;
    height: 30vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.logo {
    border: 3px solid #4e3797;
    width: 23vw;
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}
.img1 {
    width: 70%;
}
.items {
    border: 3px solid #4e3797;
    height: 15vh;
    width: 50vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.item1 ,.item2 , .item3 , .item4 , .item5 {
    color: white;
    font-family: DIN ;
    font-size: 18px;
}
.login {
    height: 15vh;
    width: 16vw;
    color: white;
    font-family: DIN ;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}
.lang {
    border: 3px solid #4e3797;
    width: 7vw;
    height: 15vh;
    color: white;
    font-family: DIN;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}
.test {
    border: 3px solid #4e3797;
    color:white;
    width: 37vw;
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: start;
    font-size: 30px;
    font-family: DIN;
}
.section1 {
    height: 68vh;
    display: flex;
    flex-flow: row wrap;
    align-content: start;
}
.img2 {
    width: 100%;
}
.imgpearson {
    width: 18%;
    position: absolute;
    z-index: 1;
    bottom: -10rem;
    right: 50rem;
    translate: -70%;
}
.img3 {
    width: 100%;
}
.section2 {
    border: 3px solid #ffffff;
    height: 65vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: start;
}
.box1 {
    border: 3px solid #ffffff;
    height: 30vh;
    width: 80vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: start;
}
.para1 {
    border: 3px solid #ffffff;
    font-family: DIN;
    width: 60vw; 
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.center {
    border: 3px solid #ffffff;
    color: rgb(27, 27, 27);
    font-family: DINM;
    font-size: 30px;
    width: 40vw; 
    height: 10vh;
    display: flex;
    flex-flow: row wrap;
    align-content: end;
}
.box2 {
    border: 3px solid #ffffff;
    height: 30vh;
    width: 80vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: start;
}
.cer {
    border: 3px solid #ffffff;
    color: rgb(27, 27, 27);
    font-family: DINM;
    font-size: 30px;
    height: 10vh;
    width: 60vw;
    display: flex;
    flex-flow: row wrap;
    align-content: start;
}
.fields {
    border: 3px solid #ffffff;
    height: 5vh;
    width: 79vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    justify-content: space-around;
    align-items: start;
    font-family: DIN;
    gap: 30px;
}
.square{
    border: 3px solid #ffffff;
    height: 5vh;
    width: 81vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
}
.sq1 , .sq2 ,.sq3 ,.sq4, .sq5 ,.sq6 {
    background-color: #4e3797;
    color: #4e3797;
    width: 3vw;
    height: 1vh;
}
.section3 {
    border: 3px solid #ffffff;
    height: 75vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.comp {
    border: 3px solid #ffffff;
    color: rgb(27, 27, 27);
    font-family: DINM;
    font-size: 30px;
    height: 10vh;
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
}
.box3{
    border: 3px solid #ffffff;
    height: 60vh ;
    display: flex;
    flex-flow: column wrap ;
    justify-content: start;
}
.boxsquare {
    border: 3px solid #6c58af;
    width: 80vw;
    height: 40vh;
    border-radius: 30px;
    border-width: 1px;
}
.firstcompanies {
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content:space-around;
    align-items: center;
}
.secondcompanies {
    height: 22vh;
    width: 83vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content:space-around;
    align-items: center;
}
.pic {
    width: 85%;
}
.pic6 , .pic4, .pic2{
    width: 60%;
}
.aws, .alibaba {
    text-align: center;
}
.footer {
    background-color: #4e3797;
    height: 55vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.logofooter {
    width: 23vw;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}
.imgf {
    width: 65%;
}
.footeritems {
    width: 35vw;
    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.line1 {
    width: 25vw;
    height: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.line2 {
    width: 25vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.f1 , .f2 , .f3 ,.f4 {
    color: white;
    font-family: DIN ;
    font-size: 16px;
}
.logofooter2 {
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}
.logofooter3 {
    width: 18vw;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}
.imgf2 {
    width: 95%;
}
.lastsec {
    background-color: #4e3797;
    height: 7vh;
    width: 100vw;
    color: white;
    font-family: DIN ;
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}